@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Josefin+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville&family=IBM+Plex+Serif&display=swap');

body {
  max-width: 600px;
  margin: 24px auto;
  background-image: url("moroccan-flower.png");
}
h1 {
  font-family: 'Dancing Script', cursive;
  margin-left: 20px;
}
h2 {
  font-family: 'Josefin Slab', serif;
}
header > nav {
  float: right;
  margin: 15px;
}
header {
    padding: 10px;
    display: incline-block;
    background: #666363;
    width: 100%;
}
nav > a {
padding: 10px;
font-family: 'Baskervville', serif;
}
img {
  float: left;
  margin: 20px;
}
footer {
  position: relative;
  bottom: 0;
  padding: 10px;
  display: inline;
  text-align: center;
  font-family: 'Josefin Slab', serif;
}

footer > p {
  width: 100%;
  padding: 10px;
  padding-top: 10px;
  background: #747373;
}
section {
    position: absolute;
    right: 0;
    padding: 5px;
    display: incline-block;
    background: #747373;
}
section > p {
    text-align: center;
    display: incline;
    font-family: 'Baskervville', serif;
}
#aboutme {
    font-family: 'IBM Plex Serif', serif;
    font-size: 17px;
}
main {
    padding: 10px;
    background: #c3c0c0;
    height: 50%;
    width: 100%;
}
a:link {
    color: rgb(248, 248, 248);
    background-color: transparent;
    text-decoration: none;
  }
a:visited {
    color: rgb(210, 208, 208);
    background-color: transparent;
    text-decoration: none;
  }
a:hover {
    color: rgba(255, 255, 255, 0.831);
    background-color: transparent;
    text-decoration: underline;
  }